.Home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.Home a,
.home_animals,
.home_birds {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    overflow: hidden;
}

.home_animals,
.home_birds {
    position: relative;
    object-fit: cover;
}

.Home img {
    object-fit: cover;
    height: 100vh;
    filter: blur(3px);
}

.Home h2 {
    position: absolute;
    left: 2rem;
    bottom: 2rem;
    color: white;
    font-size: 30px;
}

.Home img:hover {
    filter: none;
    scale: 1.2;
}

.Home h2:nth-child(0n + 1) {
    color: black;
}
